[submodule "android/deps"]
	path = android/deps
	url = https://github.com/SatDump/Android-Dependencies
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
