.vscode
build
android/local.properties
android/SatDump/.cxx
android/.gradle
android/SatDump/build
android/SatDump/assets
android/.idea
android/.settings
android/CMakeFiles
**/.DS_Store
resources/gk2a/EncryptionKeyMessage.bin
.directory
vcpkg/
srv/
.env
.cache
compile_commands.json
as.predefined
tst/
test/
a/
