[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=@CMAKE_INSTALL_PREFIX@/bin/satdump-ui
Name=SatDump
Icon=@CMAKE_INSTALL_PREFIX@/share/satdump/icon.png
StartupWMClass=SatDump v@SATDUMP_VERSION@
Categories=Science;HamRadio
Keywords=Satellite;SDR
