[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/satdump-ui
Name=SatDump
Icon=/usr/share/satdump/icon.png
StartupWMClass=SatDump v1.2.3-85eb94d53
Categories=Science;HamRadio
Keywords=Satellite;SDR
