name: Windows Build

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Clone pre-setup VCPKG
      run: git clone https://github.com/Aang23/vcpkg.git --depth 1

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      working-directory: ${{runner.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake -G "Visual Studio 16 2019" -DBUILD_MSVC=ON -DBUILD_LIVE=ON -DCMAKE_TOOLCHAIN_FILE=..\vcpkg\scripts\buildsystems\vcpkg.cmake "$Env:GITHUB_WORKSPACE"

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Copy DLLs and resources
      working-directory: ${{runner.workspace}}/build
      shell: powershell
      run: cp $Env:GITHUB_WORKSPACE/vcpkg/installed/x64-windows/bin/*.dll Release; cp $Env:GITHUB_WORKSPACE/vcpkg/installed/x64-windows/bin/*.dll Release; cp $Env:GITHUB_WORKSPACE/resources Release; cp $Env:GITHUB_WORKSPACE/pipelines Release; cp $Env:GITHUB_WORKSPACE/Roboto-Medium.ttf Release

    - name: Upload ZIP
      uses: actions/upload-artifact@v2
      with:
        name: SatDump-Windows_x64_MSVC
        path: ${{runner.workspace}}/build/Release/*